
@media screen and (max-width: 110rem) {
	.footer{
		&-copyright, &-connection, &-catalog{
			padding: 30px 40px;
		}
		&-connection{
			& > div{
				flex: 0 0 auto;
			}
			&__contact{
				&  .short-contact{
					&__phone{
						font-size: 17px;
						margin-bottom: 8px;
					}
					&__work{
						font-size: 10px;
					}
				}
			}
			&__info{
				flex-direction: column;
				max-width: inherit;
				width: auto;
				padding-left: 10px;
				&-item{
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			&__callModal{
				& .btn{
					max-width: 200px;
				}
			}
		}
		&-masonry{
			flex: 1 1 100%;
			&__item, &__sizer{
				width: 33%;
			}
		}
	}
    .information{
        &-item{
            &__count{
                font-size: 42px;
            }
        }
    }
    .filter{
        &-box{
            &__item{
                margin-right: 10px;
                &:last-child, &--default{
                    margin-right: 0;
                }
            }
            &__title{
                & a{
                    & i{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .outer-content__column{
        padding-left: var(--padding60);
        padding-right: var(--padding60);
    }
	.tabs-title li{
		margin-right: var(--margin20);
		& {
			font-size: 16px;
		}
	}
	.product{
		&-slider{
			max-width: 400px;
		}
		&-shortInfo{
			&__item{
				margin-right: var(--margin20);
			}
		}
	}
}

/*XLarge*/
@media screen and (max-width: 90rem) {

	.page{
        &-column{
            min-width: 315px;
            max-width: 320px;
        }
        &-wrapper{
            & h1, & .h1{
                font-size: 28px;
            }
            & h2, & .h2{
                font-size: 36px;
            }
        }
    }
	:root{
		--padding100: 80px;
		--padding60: 40px;
		--padding40: 30px;
		--margin-100: -80px;
		--margin-60: -40px;
		--margin-40: -30px;
        --mainFontSize: 1rem;
	}
	.header{
		&-box{
			&__slogan, &__auth{
				font-size: .75rem;
				line-height: 1rem;
			}
			&__contact{
				margin-right: 20px;
			}
		}
	}
	.short-contact{
		padding-left: 46px;
		&__phone{
			font-size: 15px;
			font-weight: 600;
		}
		&__work{
			font-size: 10px;
			line-height: .875rem;
		}
		&__icon{
			width: 34px;
			height: 34px;
			font-size: .875rem;
            margin-right: 15px;
		}
	}
	.link{
		&--circle{
			width: 34px;
			height: 34px;
			font-size: 14px;
			margin-right: 15px;
		}
	}
    .crumbs-box-wrapper{
        margin-bottom: 50px;
    }
    .left-menu__item-text + i{
        top: 0;
    }
	.soc-box{
		&__item{
			width: 40px;
			height: 40px;
		}
	}
	.footer{
		&-connection{
			flex-wrap: wrap;
			&__contact{
				&  .short-contact{
					&__phone{
						font-size: 17px;
						margin-bottom: 8px;
					}
					&__work{
						font-size: 10px;
					}
				}
			}
			&__info{
				flex-direction: column;
				max-width: inherit;
				width: auto;
				padding-left: 10px;
				&-item{
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			&__soc{
				padding: 20px 0 0 0;
				flex: 1 1 100%;
				width: 100%;
				& .soc-box{
					justify-content: center;
				}
			}
			&__callModal{
				& .btn{
					max-width: 200px;
				}
			}
		}
	}
    .subscribe{
        &-block{
            min-height: 315px;
            flex-wrap: wrap;
            flex-direction: column;
            &__content{
                padding-right: 0px;
                flex: 1 1 100%;
                width: 100%;
                max-width: 100%;
                margin-bottom: 40px;
            }
            &__title{
                font-size: 28px;
                margin-bottom: var(--margin30);
                font-family: $fontED;
                margin-bottom: 10px;
            }
            &__subtitle{
                font-size: 12px;
            }
            &__field{
                flex: 1 1 100%;
                max-width: 100%;
                width: 100%;
            }
        }
        &-field{
            margin-bottom: 1rem;
            &__button{
                min-width: 220px;
            }
        }
    }
    .anons-sale{
        &-item{
            max-height: 360px;
            &::before{
                max-height: 360px;
            }
        }
        &__title{
            font-size: 24px;
            margin-bottom: 24px;
        }
        &__description{
            margin-bottom: 40px;
        }
        &__more{
            font-size: 11px;
        }
    }
    .link{
        &-phone{
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 20px;
            &-list{
                margin-bottom: 40px;
            }
        }
    }
	.information{
		&-box{
			& h2{
				font-size: 36px;
			}
		}
	}
	.outer-content{
		&__column{
			&--right{
				display: none;
			}
		}
	}
	.product{
		&-description{
			flex: 1 1 100%;
			width: 100%;
  			@include clear;
			& > *{
				overflow: hidden;
			}
			& #device-appendPrice{
				float: left;
				margin-right: 20px;
			}
		}
		&-info{
		}
		&-photos{
			flex-direction: column;
			flex: 1 1 100%;
			margin: 0 auto 20px;
		}
		&-slider{
			order: 1;
		}
		&-sliderNavigation{
			order: 2;
			width: auto;
			flex: 1 1 auto;
		}
	}
}

/*Large*/
@media screen and (max-width: 75em) {
	:root{
		--padding100: 40px;
		--padding80: 40px;
		--padding60: 40px;
		--padding50: 40px;
		--padding40: 30px;
		--margin-100: -40px;
		--margin-80: -40px;
		--margin-60: -40px;
		--margin-50: -40px;
		--margin-40: -30px;
        --mainFontSize: .875rem;
        --fontTitleMenu: .875rem;
        --hMainInputButton: 50px;
	}
    .crumbs-box-wrapper{
        margin-bottom: 40px;
    }
    .header-box__panel{
        padding-left: 10px;
    }
	.footer{
		&-copyright{
			&__item{
				font-size: .75rem;
			}
		}
	}
    .input-box{
        &__textarea, &__input{
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
    .link{
        &-phone{
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 15px;
            &-list{
                margin-bottom: 35px;
            }
        }
		&-icon{
			font-size: 12px;
			& i{
				font-size: 24px;
			}
		}
    }
    .information{
        &-item{
            &__count{
                font-size: 40px;
            }
        }
    }
	.page{
        &-wrapper{
            & h1, & .h1{
                font-size: 28px;
            }
            & h2, & .h2{
                font-size: 36px;
            }
        }
    }
	.header-slider-controll{
		max-height: 70px;
		padding: 40px var(--padding80);
	}
    .filter{
        &-box{
            &__item{
                margin-right: 10px;
                &:last-child, &--default{
                    margin-right: 0;
                }
            }
            &__title{
                & a{
                    & i{
                        margin-left: 5px;
                    }
                }
            }
            &__button{
                flex: 1 1 auto;
            }
            &__sorts{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 150%;
                left: 0;
                background: #fff;
                z-index: 10;
                min-width: 100%;
                width: 100%;
                max-width: 320px;
                & .filter-box{
                    &__title{
                        font-weight: 500;
                        & a{
                            color: $colorBlueDark !important;
                        }
                        & i{
                            display: none;
                        }
                    }
                    &__item{
                        margin: 0;
                        padding: 20px;
                        border: 1px solid $colorPage90;
                        margin-bottom: -1px;
                    }
                    &__hide{
                        border: none;
                        display: block;
                        position: relative;
                        left: auto;
                        top: auto;
                        padding: 15px 0 0 0;
                    }
                }
            }
        }
    }
    
}    

/*Medium*/
@media screen and (max-width: 64em) {
    :root{
        --mainFontSize: .75rem;
        --fontTitleMenu: .75rem;
        --hMainInputButton: 60px;
		--padding100: 30px;
		--padding80: 30px;
		--padding60: 30px;
		--padding50: 40px;
		--padding40: 30px;
		--margin-100: -30px;
		--margin-80: -30px;
		--margin-60: -30px;
		--margin-40: -30px;
    }
	.header{
		&-box{
            height: auto;
            padding: 0 20px 0 0;
			&__logo{
				display: none !important;
			}
			&__slogan{
                display: none;
			}
            &__panel{
                padding-left: 0;
                justify-content: flex-end;
                & .short-contact{
                    padding-left: 0;
                    &__phone{
                        display: none;
                    }
                    &__work{
                        display: none;
                    }
                    &__icon{
                        position: relative;
                        margin-right: 0;
                    }
                }
            }
            &__auth{
                order: 1;
            }
            &__contact{
                order: 2;
                margin-right: 15px;
            }
            &__links{
                order: 3;
            }
		}
		&-wrapper{
			&--slide{
				& .header-box{
					background: #fff;
					&__auth{
						& a{
							color: $colorBlueDark;
						}
					}
				}
			}
		}
	}
    .crumbs-box{
        &-wrapper{
            min-height: 44px;
            margin-bottom: 30px;
            & li{
                & a{
                    font-size: .75rem;
                }
            }
        }
    }
    .device-head-controll{
        display: flex;
        align-items: center;
        background: #fff;
        & .logo-box{
            height: auto;
            padding: 0 20px;
            & img{
                max-height: 20px;
            }
        }
        &__item{
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            flex: 1 1 56px;
            border-right: 2px solid $colorPage90;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            line-height: 56px;
            &:hover, &:focus, &.active{
                background: $colorRed;
                color: #fff;
            }
        }
    }
	.page{
        &-wrapper{
            &.active{
                &::before{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    content: '';
                    background: $colorPage20;
                    z-index: 8;
                }
            }
            & h1, & .h1{
                font-size: 24px;
            }
            & h2, & .h2{
                font-size: 28px;
            }
        }
		&-column{
			position: fixed;
			top: 0px;
			z-index: 500;
			box-shadow: 5px 0 20px $colorPage90;
			transform: translateX(-100%);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
            background: #fff;
            min-width: inherit;
            max-width: 450px;
            & .logo-box{
                display: none;
            }
			&.active{
				transform: translateX(0%);
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
                overflow: auto;
                max-height: 100%;
			}
		}
	}
    .search-box{
        &__button{
            width: 56px;
        }
        &__field{
            height: 56px;
            padding-left: 50px;
        }
    }
	.footer{
		&-copyright{
			&__item{
				font-size: 11px;
			}
		}
	}
    .short-text{
        font-size: 12px;
        & .arrow-slider{
            bottom: 25px;
        }
    }
	.link{
		&-icon{
			font-size: 10px;
			& i{
				font-size: 20px;
			}
		}
	}
	.anons{
		&-sale{
			&-item{
				max-width: 100%;
				max-height: 360px;
				&::before{
					max-height: 360px;
				}
			}
			&__title{
				font-size: 18px;
				margin-bottom: 12px;
			}
			&__description{
				margin-bottom: 30px;
			}
			&__more{
				font-size: 10px;
				& i{
					margin-left: 20px;
				}
			}
		}
		&-box{
			&__img{
				max-height: 180px;
			}
			&__content{
				min-height: 140px;
			}
			&__text{
				font-size: 12px;
			}
		}
	}
    .information{
        &-item{
            &__count{
                font-size: 30px;
            }
        }
    }
	.header-slider-controll{
		max-height: 50px;
		padding: 35px var(--padding80);
	}
    .catalog{
        &-menu{
            margin-top: 10px;
            &-wrapper{
                max-height: 280px;
            }
        }
    }
    .catalog{
		&-container{
			&--service{
				& .catalog-menu{
					&__title{
						font-size: 12px;
					}
					&__front{
						padding: 20px;
					}
				}
			}
		}
    }
}

/*Small*/
@media screen and (max-width: 40em) {
	:root{
		--padding100: 20px;
		--padding80: 20px;
		--padding60: 20px;
		--padding50: 30px;
		--padding40: 20px;
        --padding30: 20px;
		--margin-100: -20px;
		--margin-60: -20px;
		--margin-40: -20px;
		--margin50: 20px;
        --mainFontSize: .75rem;
        --fontTitleMenu: 1rem;
        --hMainInputButton: 50px;
	}
    .device-head-controll{
        flex: 1 1 100%;
        width: 100%;
        border-bottom: 2px solid $colorPage90;
        flex-direction: row-reverse;
        &__logo{
            flex: 1 1 auto;
        }
        &__item{
            border-right: none;
            border-left: 2px solid $colorPage90;
        }
    }
    .header-box{
        flex-wrap: wrap;
        padding-right: 0;
        &__panel{
            padding: 10px 20px;
        }
        &__auth{
            flex: 1 1 auto;
            justify-content: flex-start;
        }
    }
    .crumbs-box{
        &-wrapper{
            min-height: 35px;
            padding: 9px 20px;
            & li{
                & a{
                    font-size: 10px;
                }
            }
        }
    }
    .left{
        &-menu{
            &-dropdown{
                padding-top: 5px;
            }
            &__item{
                &--dropdown{
                    padding-bottom: 10px;
                }
            }
        }
    }
    .footer{
		&-masonry{
			flex: 1 1 100%;
			&__item, &__sizer{
				width: 50%;
			}
		}
		&-menu{
			&__item{
				&--title{
					margin-bottom: 15px;
				}
			}
		}
		&-copyright, &-connection, &-catalog{
			padding: 20px;
		}
		&-copyright{
			flex-direction: column;
			flex-wrap: wrap;
			align-items: flex-start;
			&__item{
				font-size: 10px;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
        &-connection{
            & > div{
                flex: 1 1 100%;
            }
            &__contact{
                flex: 1 1 100%;
                width: 100%;
                padding: 0;
				& .short-contact{
                    &--footer{
                        text-align: center;
                        margin-bottom: 20px;
                    }
					&__phone{
                        font-size: 26px;
                        line-height: 26px;
					}
					&__work{
						font-size: 12px;
					}
				}
            }
            &__soc{
                padding-top: 0;
            }
            &__callModal{
                flex: 1 1 100%;
                margin-bottom: 20px;
            }
            &__info, &__soc{
                flex: 0 0 49%;
                max-width: 49%;
            }
            &__info{
                padding: 0;
                &-item{
                    font-size: 10px;
                    margin-left: 25px;
                    & i{
                        left: -25px;
                        font-size: 16px;
                        width: 18px;
                        &::before{
                            margin: 0 auto;
                        }
                        height: 15px;
                    }
                }
            }
        }
    }
	.btn{
        width: 100%;
        flex: 1 1 100%;
        max-width: 100% !important;
	}
    .link{
        &-phone{
            font-size: 12px;
            line-height: 12px;
            &-list{
                flex: 1 1 auto;
                margin-bottom: 0;
            }
        }
    }
    .contacts{
        &-column{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
        }
    }
    .soc-box{
        & li{
            margin-right: 15px;
        }
    }
    .page{
        &-wrapper{
            & h1, & .h1, & h2, & .h2, & h3, & .h3, & h4, & .h4, & h5, & .h5, & h6, & .h6{
                margin-bottom: 20px !important;
            }
            & h1, & .h1{
                font-size: 21px;
            }
            & h2, & .h2{
                font-size: 26px;
            }
            & h3, & .h3{
                font-size: 21px;
            }
            & h4, & .h4{
                font-size: 18px;
            }
            & h5, & .h5{
                font-size: 16px;
            }
            & h6, & .h6{
                font-size: 14px;
            }
        }
        &-column{
            max-width: 90%;
        }
        &-inform{
            flex-wrap: wrap;
            padding: 0;
            margin: 0 -20px;
			border-bottom: 2px solid $colorPage90;
            &__item{
                padding: 20px;
                margin: 0;
                &--count{
                    padding-right: 10px;
                }
                &--yet{
                    padding: 0;
                    width: 100%;
                    flex: 1 1 100%;
                    order: -1;
                    & .link-icon{
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
    figure{
        padding: 20px;
    }
    .ul{
        & li{
            &::before{
                top: 6px;
            }
        }
    }
    .subscribe{
        &-block{
            &__title{
                font-size: 26px;
                margin-bottom: 15px;
            }
        }
        &-field{
            flex-wrap: wrap;
            flex-direction: column;
            &__button{
                min-width: 220px;
                flex: 1 1 auto;
            }
        }
    }
    .input-box{
        margin-bottom: 10px;
        &__title{
            margin-bottom: 10px;
        }
        & input{
            width: 100%;
            margin-bottom: 10px !important;
        }
        &__textarea, &__input{
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
	.short{
		&-text{
			font-size: 10px;
			padding-right: 0%;
		}
	}
    .anons{
        &-box{
            &__all{
                display: flex;
            }
            &__img{
                max-height: 160px;
            }
            &__content{
                min-height: 100px;
            }
            &__text{
                font-size: 10px;
            }
        }
        &-sale{
            position: relative;
            &__all{
                display: flex;
            }
            &-wrapper{
                flex-wrap: wrap;
                flex-direction: column;
                max-width: calc(100% + 40px);
            }
            &__content{
                max-width: 56%;
            }
            &-item{
                max-width: 100%;
                max-height: 225px;
                &::before{
                    max-height: 225px;
                }
            }
            &__title{
                margin-bottom: 10px;
            }
            &__description{
                margin-bottom: 35px;
            }
            &__more{
                & i{
                    margin-left: 15px;
                }
            }
        }
    }
    .required-privacy-policy{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 15px;
        & .btn{
            margin-bottom: 15px;
        }
        & .privacy-policy{
            margin-left: 0;
            font-size: 10px;
            & i{
                margin-right: 15px;
            }
        }
    }
    .maps-box{
        margin: 50px 0;
    }
	.partners{
		&-wrapper{
			margin-bottom: 10px;
		}
		&-slider{
			&__item{
				max-height: 85px;
			}
		}
	}
	.information{
		&-box{
			min-height: inherit;
			padding-top: 50px;
            & .row{
                align-items: stretch;
            }
		}
		&-column{
			max-width: 100%;
			display: block;
			margin-bottom: 40px;
			& .btn{
				width: auto;
				margin-top: 40px;
			}
		}
		&-item{
			max-width: 100%;
			display: flex;
			align-items: center;
            flex-wrap: wrap;
            &__count{
                font-size: 20px;
                flex: 1 1 100%;
            }
			&__img{
				margin-bottom: 0;
				margin-right: 30px;
				width: 40px;
				height: 40px;
			}
		}
	}
	.header-slider-controll{
		max-height: 40px;
		padding: 25px var(--padding80);
		&__item--dots{
			margin: 0 auto;
		}
	}
    .catalog{
        &-menu{
            & li{
                line-height: 13px;
                & a{
                    font-size: 10px;
                    &::after{
                        display: none;
                    }
                    &:hover{
                        text-shadow: 0 0 2px $colorBlueDark;
                        &::after{
                            right: 0%;
                        }
                        & span{
                            opacity: 1;
                        }
                    }
                    & span{
                        opacity: .5;
                        margin-left: 4px;
                        transition: .15s ease;
                    }
                }
            }
            &-wrapper{
                border-right:  none;
                min-height: inherit;
                max-height: none;
                cursor: pointer;
                &::before{
                    display: none;
                }
                &.active{
                    & .catalog-menu{
                        &__front{
                            display: none;
                        }
                        &__back{
                            display: flex;
                        }
                    }
                }
            }
            &__front{
                position: relative;
                flex-direction: row;
                align-items: center;
                & .catalog-menu{
                    &__title{
                        margin-bottom: 0;
                    }
                }
            }
            &__front, &__back{
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
                display: flex;
                justify-content: flex-start;
                overflow: inherit;
                transform: none;
            }
            &__title{
                font-size: 12px;
                & a{
                    position: relative;
                    color: #fff;
                    display: inline;
                    margin-bottom: var(--margin20);
                    text-shadow: 0 0 0px $colorBlueDark;
                    &::after{
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        right: 100%;
                        height: 2px;
                        background: #fff;
                        transition: .15s ease;
                        content: '';
                    }
                    &:hover{
                        text-shadow: 0 0 2px $colorBlueDark;
                        &::after{
                            right: 0%;
                        }
                        & span{
                            opacity: 1;
                        }
                    }
                }
            }
            &__count{
                font-size: 8px;
                margin-left: 5px;
                white-space: nowrap;
            }
            &__icon{
                margin-bottom: 0px;
                margin-right: 20px;
                & img{
                    max-width: 30px;
                    max-height: 45px;
                }
            }
            &__back{
                display: none;
                justify-content: flex-start;
                & .catalog-menu{
                    &__titie{

                    }
                }
            }
        }
		&-container{
			&--service{
				& .catalog-menu{
					&__title{
						font-size: 12px;
					}
					&__front{
						padding: 20px;
					}
				}
			}
		}
    }
    .filter{
        &-box{
            &__item{
                margin-right: 10px;
                &:last-child, &--default{
                    margin-right: 0;
                }
            }
            &__title{
                & a{
                    font-size: 12px;
                    & i{
                        top: 0px;
                        margin-left: 5px;
                    }
                }
            }
            &__button{
                flex: 1 1 auto;
                margin-right: 0;
                & a{
                    font-size: 12px;
                    & i{
                        top: 0px;
                    }
                }
            }
            &__sorts{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 150%;
                left: 0;
                background: #fff;
                z-index: 10;
                min-width: 100%;
                width: 100%;
                max-width: 320px;
                & .filter-box{
                    &__title{
                        font-weight: 500;
                        & a{
                            color: $colorBlueDark !important;
                        }
                        & i{
                            display: none;
                        }
                    }
                    &__item{
                        margin: 0;
                        padding: 20px;
                        border: 1px solid $colorPage90;
                        margin-bottom: -1px;
                    }
                    &__hide{
                        border: none;
                        display: block;
                        position: relative;
                        left: auto;
                        top: auto;
                        padding: 15px 0 0 0;
                    }
                }
            }
        }
    }
    .history{
        &-dates{
            & .slick-track{
                transform: inhert !important;
            }
        }
        &-slider{
            &__item{
                display: flex !important;
                flex-direction: column;
                flex-wrap: wrap;
            }
            &__info{
                padding-right: 0;
                flex: 1 1 100%;
                max-width: 100%;
                order: 2;
            }
            &__img{
                padding-left: 0;
                flex: 1 1 100%;
                max-width: 100%;
                order: 1;
                margin-bottom: 20px;
            }
        }
        &-wrapper{
            position: relative;
            & .slider-controll{
                position: relative;
                bottom: auto;
                left: auto;
                padding: 0px;
            }
        }
    }
}

